.button {
   background: #3084ce;
   background: -webkit-gradient(linear, left top, left bottom, from(#42a3ed), to(#3084ce));
   background: -webkit-linear-gradient(top, #42a3ed, #3084ce);
   background: -moz-linear-gradient(top, #42a3ed, #3084ce);
   background: -ms-linear-gradient(top, #42a3ed, #3084ce);
   background: -o-linear-gradient(top, #42a3ed, #3084ce);
   padding: 0px 10px 0px 10px;
   margin: 0 10px 0 0px;   
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(255,255,255,255) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: 'Verdana', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   border-top-color: White;
   border-width: 0;

   }

.button:hover {
   border-top-color: #00243d;
   background: #00243d;
   color: #ffffff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

