.columnsTable
{
}

.leftColumn
{
    padding: 0 10px 10px 0;
    vertical-align: top;
    border-right: 1px solid #AAAAAA;
	/*background-color:#FFFFFF;
	padding: 10px;
	border: none;
	vertical-align: top;*/
}

.rightColumn
{
    padding: 10px;
    width: 250px;
    vertical-align: top;
    text-align: center;
}

.rightColumn h2
{
    background-color: #3086CE;
    color: #FFFFFF;
    padding: 10px;
}

.document-description
{
    margin: 0 0 0 20px;
}

.documentsList
{
    margin: 0;
}

.documentsList li
{
    margin: 5px 0;
}

.marc
{
    font-family: monospace;
    font-size: 0;
}

.marc .field-label, .marc .subfield-label
{
    color: Blue;
}

.marc .field-label, .marc .subfield-label, .marc .indicator, .marc .data
{
    font-size: 13px;
}

.marc .field-label
{
    padding-right: 5px;
}

.marc .subfield-label
{
    padding-left: 5px;
    padding-right: 5px;
}

.marc .inner-field
{
    border-left: 1px solid gray;
    padding-left: 5px;
    margin-left: 40px;
}

.actionsWarning
{
    background: #FFCCCC;
    padding: 5px;
    display: inline-block;
}

.action
{
    background: #EEFFEE;
    border: 1px dotted #000000;
    padding: 5px;
   
}

table.actions th, table.actions td
{
    padding: 10px;
}

.document-statistics
{
    display: inline-block;
}

.viewer-description
{
    background: #EEEEFF;
    border: 1px dotted #00FF00;
    margin-left: 30px;
    margin-top: 20px;
    padding: 5px;    
    line-height: 300%;
}

